body{
    position: relative;
     background-color:rgb(30, 20, 66)
    }
    header{
        color: white;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 50%;
    }
    
    #summary {
        margin: 0;
        color: whitesmoke;
        border-radius: 20PX;
        background-color: rgba(24, 26, 49, 0.70);
        padding: 150px;
        text-align: left;
    
     }
    
     #comment{
        text-align: left;
        color: whitesmoke;
        padding-top: 50px;
     }
    
    img {
        position: center;
        width: 400px;
        height: 500px;
      }
	
    
    
     .background{
        background-color: rgba(24, 26, 49, 1);
        background-size: cover;
     }
    
     #text {
        color: whitesmoke;
        background-color: rgba(88, 92, 141, 0.7);
        text-align: left;
     }
    
     #avg{
        color: whitesmoke;
     }
    
    h2{
        text-decoration: underline;
        background-color: rgba(24, 26, 49, .01);
        text-align: center;
    }
	#image{
		border: 6px solid rgb(244, 204, 5);
		border-radius: 20px;

	}
	#comment-block{
		display: flex;
		flex-direction: column;
		margin-left: 50vmin;
		margin-top: -19vmin;
	}
	#text{
		height: 10.5vmin;
		background-color: #f2f3f6;
		border-top-left-radius: 20px;
	    border-top-right-radius: 20px;
		color: #173A75;
		border: 6px solid rgb(234, 99, 3);
	}
	#comment-button{
		text-align: center;
		border-radius: 0px 0px 20px 20px;
		background-color: rgb(234, 99, 3);
	}
	#comment{
		border: 1px solid white;
		width: 130vmin;
		margin-left: 8vmin;
		margin-top:2vmin;
		background-color:  #4a4267;
		color: #f7f9fe;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		padding-left: 10px;
		border: 6px solid rgb(234, 99, 3);
		font-family: 'Unbounded', cursive;
	    padding-top: 10px;
		padding-bottom: 10px;
	}
	#rate-block{
		margin-top: 10vmin;
		display: flex;
		flex-direction: column;
		width: fit-content;
		margin-left: 70px;
		width: 100px;
	}
	#rate-button{
		width: 100px;
		height: fit-content;
		
		
	}
	#r-button{
		text-align: center;
		border-radius: 0px 0px 20px 20px;
		background-color: #FFAB00;
		width: 40vmin;
		background-color: rgb(234, 99, 3);
	}
.rating-stars {
	display: flex;
	width: 40vmin;
	height:100px;
	padding: 1.75vmin 10vmin 2vmin 10vmin;
	background: linear-gradient(90deg, whitesmoke 40vmin, #fff0 40vmin 100%);
	position: relative;
	border: 6px solid rgb(234, 99, 3);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	
}
#the-stars{
	display: flex;
	width: 500px;
	margin-top: 10px;
	
}

.rating-counter {
	font-size: 3.5vmin;
    font-family: Arial, Helvetica, serif;
    color: #f2f3f6;
    width: 10vmin;
    text-align: center;
	background: rgba(146, 142, 142, 0.4);
	position: relative;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0 5vmin 5vmin 0;
	margin-top: 8px;
  
	

}.rating-counter:before {
	content: "0";
	transition: all 0.25s ease 0s;	
}
.rating-stars input { display: none; }
label {
	width: 3vmin;
	height: 3vmin;
	background: #000b;
	display: inline-flex;
	text-align: center;
	cursor: pointer;
	margin: 0.5vmin 0.65vmin;
	transition: all 1s ease 0s;	
	clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
}label[for=rs0] {
	display: none;
}label:before {
	width: 90%;
	height: 90%;
	content: "";
	background: orange;
	z-index: -1;
	display: block;
	margin-left: 5%;
	margin-top: 5%;
	clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
	background: linear-gradient(90deg, yellow, orange 30% 50%, #184580
50%, 70%, #173A75
100%);
	background-size: 205% 100%;
	background-position: 0 0;
}label:hover:before {
	transition: all 0.25s ease 0s;		
}input:checked + label ~ label:before {
	background-position: 100% 0;
	transition: all 0.25s ease 0s;	
}input:checked + label ~ label:hover:before {
	background-position: 0% 0
}#rs1:checked ~ .rating-counter:before {
	content: "1";
}#rs2:checked ~ .rating-counter:before {
	content: "2";
}#rs3:checked ~ .rating-counter:before {
	content: "3";
}#rs4:checked ~ .rating-counter:before {
	content: "4";
}#rs5:checked ~ .rating-counter:before {
	content: "5";
}label + input:checked ~ .rating-counter:before {
	color: #FFAB00
!important;
	transition: all 0.25s ease 0s;
}label:hover ~ .rating-counter:before {
	color: #9AACC6
!important;
	transition: all 0.5s ease 0s;	
	animation: pulse 1s ease 0s infinite;
}label[for=rs1]:hover ~ .rating-counter:before {
	content: "1" !important;
}label[for=rs2]:hover ~ .rating-counter:before {
	content: "2" !important;
}label[for=rs3]:hover ~ .rating-counter:before {
	content: "3" !important;
}label[for=rs4]:hover ~ .rating-counter:before {
	content: "4" !important;
}label[for=rs5]:hover ~ .rating-counter:before {
	content: "5" !important;
}input:checked:hover ~ .rating-counter:before {
	animation: none !important;
	color: #FFAB00
!important ;
}
